*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  background-image: url('./bg-tiles.webp'); 
  background-color: black;
  background-size: 130%; 
  background-repeat: no-repeat; 
  color: white; 
}
.App{
  display:grid;
  grid-template-rows: auto auto auto auto auto;
}

button{
  outline: none;
  border: none;
  display: flex;
  overflow: visible;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/*css for streaming section*/

.streaming{
  display: grid;
  grid-template-columns: auto auto;
  height: 700px;
  border: solid red 2px;
}
.streaming > .left {
  width: 62vw;
  border: solid blue 2px;
}
.streaming > .left > img{
  width: 800px;
  height:auto;
}
.streaming > .right {
  padding-right: 180px;
  border: solid yellow 2px;
}

/*end of css for streaming section*/


/*css for oneSearch section*/
.oneSearch{
  display: grid;
  grid-template-columns: auto auto;
  height: 800px;
  border: solid red 2px;
}
.oneSearch > .left {
  padding-left: 180px;
  border: solid yellow 2px;
}
.oneSearch > .right {
  width: 62vw;
  border: solid blue 2px;
}

/*oneSearch end*/


/*watch list start*/

.watchlist{
  display: grid;
  grid-template-columns: auto auto;
  border: solid blue 2px;
  height: 800px;
}

.watchlist > .right{
  border: solid yellow 2px;
}
.watchlist > .left{
  border: solid red 2px;
  width: 62vw;
}
/*watch list end*/

/*footer section start*/
.footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 50px;
}